[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
parsel = "*"
flask = "*"
gunicorn = "*"
toml = "*"
selenium = "*"
webdriver-manager = "*"
rich = "*"
pytest-flask = "*"

[dev-packages]
blue = "*"
isort = "*"
ruff = "*"
pytest = "*"

[requires]
python_version = "3.11"
