[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
flask = "*"
toml = "*"

[dev-packages]
blue = "*"
isort = "*"
ruff = "*"
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3.11"
